/* TGS Perfect Condensed - Regular */
@font-face {
    font-family: 'TGS';
    src: url('../../assets/fonts/TGSPerfectCondensed.eot');
    src: url('../../assets/fonts/TGSPerfectCondensed.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/TGSPerfectCondensed.woff') format('woff'),
         url('../../assets/fonts/TGSPerfectCondensed.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Karla - Regular */
@font-face {
    font-family: 'Karla';
    src: url('../../assets/fonts/Karla-Regular.eot');
    src: url('../../assets/fonts/Karla-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/Karla-Regular.woff2') format('woff2'),
         url('../../assets/fonts/Karla-Regular.woff') format('woff'),
         url('../../assets/fonts/Karla-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Karla - Medium */
@font-face {
    font-family: 'Karla';
    src: url('../../assets/fonts/Karla-Medium.eot');
    src: url('../../assets/fonts/Karla-Medium.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/Karla-Medium.woff2') format('woff2'),
         url('../../assets/fonts/Karla-Medium.woff') format('woff'),
         url('../../assets/fonts/Karla-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Karla - SemiBold */
@font-face {
    font-family: 'Karla';
    src: url('../../assets/fonts/Karla-SemiBold.eot');
    src: url('../../assets/fonts/Karla-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/Karla-SemiBold.woff2') format('woff2'),
         url('../../assets/fonts/Karla-SemiBold.woff') format('woff'),
         url('../../assets/fonts/Karla-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Karla - Bold */
@font-face {
    font-family: 'Karla';
    src: url('../../assets/fonts/Karla-Bold.eot');
    src: url('../../assets/fonts/Karla-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/Karla-Bold.woff2') format('woff2'),
         url('../../assets/fonts/Karla-Bold.woff') format('woff'),
         url('../../assets/fonts/Karla-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Karla - ExtraBold */
@font-face {
    font-family: 'Karla';
    src: url('../../assets/fonts/Karla-ExtraBold.eot');
    src: url('../../assets/fonts/Karla-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/Karla-ExtraBold.woff2') format('woff2'),
         url('../../assets/fonts/Karla-ExtraBold.woff') format('woff'),
         url('../../assets/fonts/Karla-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
