/**
 * Project Hero Block Styles
 * 
 * @package asbestverwijdering
 * @version 1.0.0
 * @author Kay Jilesen
 */

section.project-hero-block .container {
  @apply relative z-10;
}

section.project-hero-block h1 strong {
  @apply inline relative;
}
section.project-hero-block h1 strong::after {
  @apply content-[''] absolute bottom-0.5 xl:bottom-3 left-0 w-full h-2.5 md:h-4 bg-yellow -z-[1];
}

section.project-hero-block .svg-wrapper {
  @apply absolute top-0 right-0 translate-x-[20%] z-[6];
}
section.project-hero-block .svg-wrapper svg {
  @apply w-32 h-32 md:w-48 md:h-48 lg:w-96 lg:h-96 stroke-yellow fill-yellow;
}

/* Breadcrumb styling for project hero */
section.project-hero-block .breadcrumbs-list {
  @apply text-white/70;
}
section.project-hero-block .breadcrumbs-list a {
  @apply text-white/70 hover:text-white transition-colors;
}
section.project-hero-block .breadcrumbs-list .breadcrumb-current {
  @apply text-white;
}

