/**
 * Hero Block Styles
 * 
 * @package asbestverwijdering
 * @version 1.0.0
 * @author Kay Jilesen
 */

section.hero-block {
}

section.hero-block .container {
  @apply relative z-10;
}
section.hero-block .outer-container {
  @apply rounded-[8px] overflow-hidden;
}

.hero-images-wrapper {
  @apply relative;
}

section.hero-block h1 {
  @apply relative text-grey-dark;
}
section.hero-block h1::after {
  @apply content-[''] absolute bottom-0.5 xl:-bottom-4 left-1/2 -translate-x-1/2 w-full xl:w-[440px] h-2.5 md:h-4 xl:h-10 bg-yellow -z-[1];
}

.hero-block__gradient {
  background: linear-gradient(90deg, rgba(242, 241, 235, 0.4) 0%, rgba(242, 241, 235, 0.8) 70%);
}

.hero-images-wrapper:after {
  @apply content-[''] absolute bottom-0 left-0 w-full h-1/2 bg-white z-[1];
}

.hero-images {
  @apply relative -mt-24;
}

.hero-background {
  @apply overflow-hidden;
}

.hero-background img {
  @apply min-w-full h-full object-cover;
}

section.hero-block .svg-wrapper {
  @apply absolute top-0 right-0 translate-x-[20%] z-[6];
}
section.hero-block .svg-wrapper svg {
  @apply w-32 h-32 md:w-48 md:h-48 lg:w-96 lg:h-96 stroke-yellow fill-yellow;
}
