/**
 * Stappen Block Styles
 *
 * @package asbestverwijdering
 */

/* All styling is done via Tailwind classes in the PHP template */
/* Strong tag styling with yellow line is available globally via text.css */
