/**
 * Text & Image Block Styles
 * 
 * @package asbestverwijdering
 * @version 1.0.0
 * @author Kay Jilesen
 */

.text-image-block {
  /* Text image specific styles can be added here */
}

/* Yellow underline highlight for strong text in titles */
.text-image-block h2 strong,
.text-image-block h3 strong {
  @apply inline relative z-[1];
}
.text-image-block h2 strong::after,
.text-image-block h3 strong::after {
  content: '';
  @apply absolute left-0 w-full bg-yellow;
  bottom: clamp(0.25rem, 0.75vw, 0.5rem);
  height: clamp(0.5rem, 1.5vw, 0.875rem);
  z-index: -1;
}

/* Decorative SVG positioning when image is on the right */
.text-image-block__svg--right {
  @apply translate-x-[80px] bottom-20 lg:bottom-[120px];
}

/* Decorative SVG positioning when image is on the left */
.text-image-block__svg--left {
  @apply -translate-x-8 translate-y-8;
}

.text-image-block__svg svg rect {
  stroke: #FFD500;
}
